<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <br>
  <h1 class="center">Committees</h1>
  {{#each model.politicians as |politician|}}
    <h1>{{politician.title}}: ({{politician.state_rank}}) {{politician.first_name}} {{politician.last_name}}</h1>
    <p>
      {{log politician}}
    </p>
  {{/each}}
  <br>
  <br>

  {{#each model.committees as |committee|}}
    <div class="col-md-4">
      <h3>{{committee.name}}</h3>
      {{#if committee.office}}
      <li>Address: {{committee.office}}</li>
      {{else}}
      <li>Address: Not Available</li>
      {{/if}}
      <!-- {{#if committee.phone}} -->
      <li>Contact: {{committee.phone}}</li>
      <!-- {{else}} -->
      <!-- <li>Contact: Not Available</li> -->
      <!-- {{/if}} -->
      <li>Chamber: {{committee.chamber}}</li>
    </div>
  {{/each}}
  </div>
</div>
